

<!-- jQuery -->
<script src="/scripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/scripts/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
##<script src="/scripts/plugins/morris/raphael.min.js"></script>
##<script src="/scripts/plugins/morris/morris.min.js"></script>
##<script src="/scripts/plugins/morris/morris-data.js"></script>

<script src="/scripts/main.js"></script>
<script type="text/javascript" src="/scripts/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/scripts/plugins/jquery.floatThead.js"></script>
<script type="text/javascript" src="/scripts/plugins/jquery.floatThead._.js"></script>
<script type="text/javascript" src="/scripts/plugins/bootbox.min.js"></script>
