 <html>

 <head>

 <style>
 table, th, td {
     border: 8px solid black;
     border-collapse: collapse;
 }
 th, td {
     padding: 25px;
     text-align: left;
 }
 </style>

 </head>

 <body>

 <h2>List of users:</h2>
 <table style="width:80%">
   <tr>
     <th>Name:</th>
     <th>Address:</th>
     <th colspan="2">Number phone:</th>

   </tr>
   <tr>
     <td>$userObject.username</td>
     <td>$userObject.address </td>
     <td>$userObject.phone</td>
   </tr>


 </table>

 </body>
 </html>

