#* @vtlvariable name="hishgadPackages" type="java.util.ArrayList<com.example.Objects.HishgadPackageObject>" *#
#* @vtlvariable name="historyOrders" type="java.util.ArrayList<com.example.Objects.OrderObject>" *#
#* @vtlvariable name="templateUtils" type="com.example.Utils.TemplateUtils" *#
#* @vtlvariable name="orderPackageObjectMap" type="java.util.HashMap<java.lang.Integer,java.util.ArrayList<com.example.Objects.OrderPackageObject>>" *#
#* @vtlvariable name="orderObject" type="com.example.Objects.OrderObject" *#
#* @vtlvariable name="orderPackageObjectsToday" type="java.util.ArrayList<com.example.Objects.OrderPackageObject>" *#
#* @vtlvariable name="orderExists" type="java.lang.Boolean" *#

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>$pageName</title>
    #parse( "css.vm" )
    #parse( "scripts.vm" )
</head>

<body>

<div id="wrapper" style="padding-right: 135px">

    #parse( "main_navbar.vm" )

    <div id="page-wrapper">

        #parse("date_section.vm")


        <div class="container-fluid">


            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <small>$pageName</small>
                    </h1>
                </div>
            </div>

            <div id="addOrderForm">


                <!-- /.row -->
                </br>
                <div class="row">
                    <div class="col-lg-3">
                        <div>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">$templateUtils.getTranslation("Click To Choose A Package") <b class="caret"></b></a>
                            <ul class="dropdown-menu" id="purchase-hishgad-package">
                                #foreach ($hishgadPackage in $hishgadPackages)
                                    <li class="hishgad-package">
                                        <a class="hishgad-package-details" oid="$hishgadPackage.oid" name="$hishgadPackage.name" ticket-price="$hishgadPackage.ticketPrice" tickets-ammount="$hishgadPackage.ticketsAmount" commission="$hishgadPackage.commission">
                                            $hishgadPackage.name
                                        </a>
                                    </li>
                                #end
                            </ul>

                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-2">
                        $templateUtils.getTranslation("Payment Date:") <input class="form-control" type="date" id="paymentDate"/>
                    </div>
                </div>
                </br>


                <div class="row" id="addOrderTable" #if(!$orderExists) style="display: none" #end>
                    <div class="col-lg-11">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th style="width: 15%">$templateUtils.getTranslation("Name")</th>
                                    <th>$templateUtils.getTranslation("Packeges Amount")</th>
                                    <th>$templateUtils.getTranslation("Tickets In Package")</th>
                                    <th>$templateUtils.getTranslation("Ticket Price")</th>
                                    <th>$templateUtils.getTranslation("Package Price (Including Fee)")</th>
                                    <th>$templateUtils.getTranslation("Package Price (Not Including Fee)")</th>
                                    <th>$templateUtils.getTranslation("Order Price")</th>
                                    <th>$templateUtils.getTranslation("Remove")</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach ($hishgadPackage in $hishgadPackages)
                                    #set($amountOrdered = $hishgadPackage.amountInOrder($orderPackageObjectsToday))
                                    <tr oid="$hishgadPackage.oid" #if($amountOrdered == 0) style="display: none" #end  id="package-row-$hishgadPackage.oid">
                                        <td class="package-name">$hishgadPackage.name</td>
                                        <td><input bruto-sum="$hishgadPackage.calcOrderSumByAmountWithCommision($amountOrdered)" id="amountOfPackages-$hishgadPackage.oid" class="form-control ammount-of-packages" type="number" value="$hishgadPackage.amountInOrder($orderPackageObjectsToday)" oid="$hishgadPackage.oid" neto="$hishgadPackage.packagePriceWithoutCommision" bruto="$hishgadPackage.packagePriceWithCommision" name="$hishgadPackage.name"></td>
                                        <td>$hishgadPackage.ticketsAmount</td>
                                        <td>$hishgadPackage.ticketPrice</td>
                                        <td>$hishgadPackage.packagePriceWithCommision</td>
                                        <td id="neto-package-price-$hishgadPackage.oid">$hishgadPackage.packagePriceWithoutCommision</td>
                                        <td id="order-sum-$hishgadPackage.oid">$hishgadPackage.calcOrderSumByAmountWithoutCommision($amountOrdered)</td>
                                        <td><button type="button" class="btn btn-sm btn-danger remove-package-row-button" oid="$hishgadPackage.oid">$templateUtils.getTranslation("Remove")</button></td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>
                        <input hidden id="totalOrderSum" />

                    </div>
                </div>

                <div class="row" #if(!$orderExists) style="display: none" #end id="orderSummary">
                    <div class="col-sm-4">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <h3 class="panel-title">$templateUtils.getTranslation("Order Sum")</h3>
                            </div>
                            <div class="panel-body" id="orderSummaryBody">
                                $templateUtils.getTranslation("Order Price") $orderObject.getPrice()
                            </div>
                            <button type='button' class='btn btn-success save-button' id="approveOrder" style="display: none;">$templateUtils.getTranslation("Approve Order")</button>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger center-absolute center-screen" id="missingDetails" style="display: none;" >
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>$templateUtils.getTranslation("Notice:") </strong> $templateUtils.getTranslation("You must fill in the dates before continuing!")
                </div>

                <div id="addedOrderSuccess" class="alert alert-info center-absolute center-screen"
                     style="display: none;  width: 500px">
                    <strong>$templateUtils.getTranslation("Order Added Successfuly")</strong>
                </div>
                <div id="addedOrderFailure" class="alert alert-danger center-absolute center-screen"
                     style="display: none;  width: 200px">
                    <strong>$templateUtils.getTranslation("Error Adding Order")</strong>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-11">
                    <h2>$templateUtils.getTranslation("Orders History")</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>$templateUtils.getTranslation("Purchased Date")</th>
                                <th>$templateUtils.getTranslation("Payment Date")</th>
                                <th>$templateUtils.getTranslation("Payment")</th>
                                <th>$templateUtils.getTranslation("Details")</th>
                            </tr>
                            </thead>
                            <tbody>
                            <b>
                                <tr id="currentOrderDetails" style="display: none;">
                                    <td id="currentPurchaseDate">$templateUtils.getTranslation("Today")</td>
                                    <td id="currentPaymentDate">$templateUtils.getTranslation("Today")</td>
                                    <td id="currentOrderPayment">0</td>
                                    <td><button type="button" class="btn btn-sm btn-info remove-package-row-button">$templateUtils.getTranslation("Details")</button></td>
                                </tr>
                            </b>
                                #foreach ($order in $historyOrders)
                                <tr oid="$order.oid" id="order-row-$order.oid">
                                    <td class="purchase-date">$templateUtils.formatDateExcludeTime($order.purchaseDate)</td>
                                    <td>$templateUtils.formatDateExcludeTime($order.payDate)</td>
                                    <td>$order.price</td>
                                    <td><button type="button" class="btn btn-sm btn-info remove-package-row-button" oid="$order.oid"  data-toggle="modal" data-target="#orderDetails-$order.oid">$templateUtils.getTranslation("Details")</button></td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

##            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

            <!-- Modal -->
            #foreach ($order in $historyOrders)
                <div id="orderDetails-$order.oid" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">$templateUtils.getTranslation("Order For Date:") $templateUtils.formatDateExcludeTime($order.purchaseDate)</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row"  id="orderSummary-$order.oid">
                                    <div class="col-sm-8">
                                        <div class="panel panel-green">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">$templateUtils.getTranslation("Order Sum")</h3>
                                            </div>
                                            <div class="panel-body" id="orderSummaryBody-$order.oid">
                                                <b>$templateUtils.getTranslation("Total Price:") </b> $order.price
                                                <br/>
                                                <b>$templateUtils.getTranslation("Purchase Date:") </b> $templateUtils.formatDateExcludeTime($order.purchaseDate)
                                                <br/>
                                                <b>$templateUtils.getTranslation("Pay Date:") </b> $templateUtils.formatDateExcludeTime($order.payDate)
                                                <br/>
                                                <br/>

                                                <b>$templateUtils.getTranslation("Details:") </b>
                                                <br/>
                                                #set($packageOrderList = $orderPackageObjectMap.get($order.oid))
                                                #foreach ($packageOrder in $packageOrderList)
                                                    $packageOrder.hishgadPackageObject.name
                                                     *
                                                    $packageOrder.amount
                                                     =
                                                    $packageOrder.getOrderPackagePriceWithoutCommission()


                                                    <br/>
                                                #end


                                            </div>
                                            <button type='button' class='btn btn-success' id="approveOrder" style="display: none;">11111</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">$templateUtils.getTranslation("Close")</button>
                            </div>
                        </div>

                    </div>
                </div>

            #end
        </div>

    </div>

</div>
<div style="display: none" id="changesSaved" saved="true"></div>
#parse("unsaved_changes_message.vm")

</body>

</html>
