#* @vtlvariable name="hishgadPackages" type="java.util.ArrayList<com.example.Objects.HishgadPackageObject>" *#
#* @vtlvariable name="templateUtils" type="com.example.Utils.TemplateUtils" *#
#* @vtlvariable name="balance" type="com.example.Objects.BalanceObject" *#
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>$pageName</title>
    #parse( "css.vm" )
    #parse( "scripts.vm" )
</head>

<body>

<div id="wrapper" style="padding-right: 135px">

    #parse( "main_navbar.vm" )

    <div id="page-wrapper">

        #parse("date_section.vm")

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <small>$pageName</small>
                    </h1>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-lg-12">
                    <div id="balanceTable" class="table-responsive" style="height:450px; overflow-y:auto;">
                        <table class="table table-bordered table-hover table-striped" style="font-size:12px">
                            <thead char="header">
                            <tr style="font-size: 14px" dir="rtl">
                                <th>$templateUtils.getTranslation("Worth") </th>
                                <th>$templateUtils.getTranslation("Hishgad Equity") </th>
                                <th>$templateUtils.getTranslation("Cash") </th>
                                <th>$templateUtils.getTranslation("Balance") </th>
                                <th>$templateUtils.getTranslation("Incomes Bank") </th>
                                <th>$templateUtils.getTranslation("Incomes Cash") </th>
                                <th>$templateUtils.getTranslation("Wins") </th>
                                <th>$templateUtils.getTranslation("Lotto Sales") </th>
                                <th>$templateUtils.getTranslation("Pending Credit") </th>
                                <th>$templateUtils.getTranslation("Credit Refund") </th>
                                <th>$templateUtils.getTranslation("Credit") </th>
                                <th>$templateUtils.getTranslation("Lotto Payments") </th>
                                <th>$templateUtils.getTranslation("Hishgad Daily Sales") </th>
                                <th>$templateUtils.getTranslation("Hishgad Purcahase") </th>
                                <th>$templateUtils.getTranslation("Hishgad Payments") </th>
                                <th>$templateUtils.getTranslation("Deposits") </th>
                                <th>$templateUtils.getTranslation("Date") </th>
                            </tr>
                            </thead>
                            <tbody>
                                #foreach($dailyBalanceObject in $balance.dailyBalanceObjectList)
                                <tr dir="rtl">
                                    <td><b>$templateUtils.round($dailyBalanceObject.totalEquity, 2)</b></td>
                                    <td><b>$templateUtils.round($dailyBalanceObject.hishgadEquity, 2)</b></td>
                                    <td><b>$templateUtils.round($dailyBalanceObject.cash, 2)</b></td>
                                    <td><b>$templateUtils.round($dailyBalanceObject.balance, 2)</b></td>
                                    <td>$templateUtils.round($dailyBalanceObject.calculateDailyBankNeto(), 2)</td>
                                    <td>$templateUtils.round($dailyBalanceObject.calculateDailyCashNeto(), 2)</td>
                                    <td>$templateUtils.round($dailyBalanceObject.lottoWins, 2)</td>
                                    <td>$templateUtils.round($dailyBalanceObject.lottoSales, 2)</td>
                                    <td>$templateUtils.round($dailyBalanceObject.creditPending, 2)</td>
                                    <td>$templateUtils.round($dailyBalanceObject.creditRefund, 2)</td>
                                    <td>$templateUtils.round($dailyBalanceObject.creditCupons, 2)</td>
                                    <td>$templateUtils.round($dailyBalanceObject.lottoPayment, 2)</td>
                                    <td>$templateUtils.round($dailyBalanceObject.hishgadSales, 2)</td>
                                    <td>$templateUtils.round($dailyBalanceObject.hishgadPurchase, 2)</td>
                                    <td>$templateUtils.round($dailyBalanceObject.hishgadPayment, 2)</td>
                                    <td>$templateUtils.round($dailyBalanceObject.deposit, 2)</td>
                                    <td>$templateUtils.formatDateExcludeTime($dailyBalanceObject.date)</td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>


        </div>




    </div>

</div>
<div style="display: none" id="changesSaved" saved="true"></div>


</body>

</html>
