#* @vtlvariable name="tutors" type="java.util.ArrayList<com.example.Objects.TutorObject>" *#
#* @vtlvariable name="subjects" type="java.util.ArrayList<com.example.Objects.SubjectObject>" *#
#* @vtlvariable name="user" type="com.example.Objects.UserObject" *#


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$siteName</title>
    #parse( "css.vm" )
    #parse( "scripts.vm" )
</head>
<body>

<div id="wrapper" style="padding-right: 135px">
    #parse( "main_navbar.vm" )

    <div id="page-wrapper">


        <div class="container">
            <div class="panel panel-primary col-sm-11">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Tutors</h3>
                </div>
                <div class="panel-body">
                    <div id="shieldui-grid1" class="sui-grid sui-grid-core">
                        <div class="sui-gridcontent">
                            <table class="sui-table sui-hover sui-selectable">
                                <colgroup>
                                    <col style="width:100px">
                                    <col style="width:100px">
                                    <col style="width:100px">
                                </colgroup>
                                <tbody>
                                <tr class="#if ($alt) sui-row #else sui-alt-row #end ">
                                    <th class="sui-cell">
                                        <span class="col-sm-7">
                                           Name
                                        </span>
                                    </th>
                                    <th class="sui-cell">
                                        <span class="col-sm-7">
                                            Email
                                        </span>
                                    </th>
                                    <th class="sui-cell">
                                        <span class="col-sm-7">
                                            Telephone Number
                                        </span>
                                    </th>
                                    #set ($alt = !$alt)
                                </tr>
                                    #foreach ($tutor in $tutors)
                                    <tr class="#if ($alt) sui-row #else sui-alt-row #end ">
                                        <td class="sui-cell">
                                        <span class="col-sm-7">
                                            $tutor.name
                                        </span>
                                        </td>
                                        <td class="sui-cell">
                                        <span class="col-sm-7">
                                            $tutor.email
                                        </span>
                                        </td>
                                        <td class="sui-cell">
                                        <span class="col-sm-7">
                                            $tutor.telephoneNumber
                                        </span>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <button class="btn btn-primary"style="height:40px;width:150px"
            <a href="/tutor-signup-form" color:black>  </a>  Signup As A Tutor</button>
        </div>

   ## <a href="/tutor-signup-form" color:black>
    ## sign up as a tutor
    ##</a>

    </div>
</div>
<!-- /#wrapper -->
</body>
</html>