#* @vtlvariable name="hishgadPackages" type="java.util.ArrayList<com.example.Objects.HishgadPackageObject>" *#
#* @vtlvariable name="historyOrders" type="java.util.ArrayList<com.example.Objects.OrderObject>" *#
#* @vtlvariable name="clients" type="java.util.ArrayList<com.example.Objects.ClientObject>" *#
#* @vtlvariable name="dailySummary" type="com.example.Objects.DailySummaryObject" *#
#* @vtlvariable name="templateUtils" type="com.example.Utils.TemplateUtils" *#

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>$pageName</title>
    #parse( "css.vm" )
    #parse( "scripts.vm" )
</head>

<body>

<div id="wrapper" style="padding-right: 135px">

    #parse( "main_navbar.vm" )

    <div id="page-wrapper">

        #parse("date_section.vm")

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <small>$pageName</small>
                    </h1>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <h2>$templateUtils.getTranslation("Daily Summary")</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>$templateUtils.getTranslation("Start") </th>
                                <th>$templateUtils.getTranslation("Lotto Sales") </th>
                                <th>$templateUtils.getTranslation("Wins") </th>
                                <th>$templateUtils.getTranslation("Hishgad Sales") </th>
                                <th>$templateUtils.getTranslation("Credit") </th>
                                <th>$templateUtils.getTranslation("Debts") </th>
                                <th>$templateUtils.getTranslation("End") </th>
                                <th>$templateUtils.getTranslation("Comment") </th>
                            </tr>
                                </thead>
                            <tbody>
                                <tr>
                                    <td><input class="form-control" type="number" id="dailyStartAmount" value="$dailySummary.startAmount"/></td>
                                    <td id="dailyLottoSales">$dailySummary.lottoSales</td>
                                    <td id="dailyLottoWins">$dailySummary.wins</td>
                                    <td id="dailyHishgadSales">$dailySummary.hishgadSales</td>
                                    <td id="dailyCredit">$dailySummary.credit</td>
                                    <td id="dailyDebts">$dailySummary.debts</td>
                                    <td id="dailyEndAmount">$templateUtils.round($dailySummary.calculateEndAmount(), 2)</td>
                                    <td><input class="form-control" id="dailySummaryComment" value="$#if ($dailySummary && $dailySummary.comment) $dailySummary.comment #end"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <button type="button" class="btn btn-success save-button" id="saveDailySummary" style="">$templateUtils.getTranslation("Save")</button>
                </div>
            </div>

            <div id="AddedDailySummarySuccess" class="alert alert-info center-absolute center-screen"
                 style="display: none;  width: 500px">
                <strong>$templateUtils.getTranslation("Added Daily Summary Successfully")</strong>
            </div>
            <div id="AddedDailySummaryFailure" class="alert alert-danger center-absolute center-screen"
                 style="display: none;  width: 200px">
                <strong>$templateUtils.getTranslation("Failure Adding Daily Summary")</strong>
            </div>

        </div>

    </div>

</div>
<div style="display: none" id="changesSaved" saved="true"></div>
    #parse("unsaved_changes_message.vm")


</body>

</html>
