<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>$siteName</title>
    #parse( "css.vm" )
    #parse( "scripts.vm" )

</head>
<body>
</div>
</div>
</div>

<div id="wrapper" style="padding-right: 135px">
    #parse( "main_navbar.vm" )
    <div id="page-wrapper">
        <div class="form-style-5">
            <fieldset>
                <legend>Signup Student Form</legend>
                <input type="text" name="signupName" id="signupName" placeholder="Name *"/>
                <div class="alert alert-danger" id="signupNameAlert" style="padding: 0px!important; display: none;">
                    You must enter name
                </div>

                <input type="text" name="signupUserName" id="signupUserName" placeholder="Username *"/>
                <div class="alert alert-danger" id="signupUserNameAlert"
                     style="padding: 0px!important; display: none;"> You must enter user name
                </div>

                <input type="password" name="signupPassword" id="signupPassword" placeholder="Password *"/>
                <div class="alert alert-danger" id="signupPasswordAlert"
                     style="padding: 0px!important; display: none;"> You must enter password
                </div>

                <input type="password" name="signupRepeatPassword" id="signupRepeatPassword"
                       placeholder="Password Again *"/>
                <div class="alert alert-danger" id="signupRepeatPasswordAlert"
                     style="padding: 0px!important; display: none;"> You must enter password again
                </div>
                <div class="alert alert-danger" id="signupConfirmPasswordAlert"
                     style="padding: 0px!important; display: none;"> Password confirmation failed
                </div>

            </fieldset>
            <input type="submit" id="addStudentToTeacher" value="Sign Up" teacherId="$teacherId"/>
         ##   <form id="signupForm" , action="/signup?teacherId=$user.uid" method="get" onsubmit="return validateUserSignupForm()">
          ##  </form>
        </div>

    </div>
</div>
</body>
</html>