#* @vtlvariable name="hishgadPackages" type="java.util.ArrayList<com.example.Objects.HishgadPackageObject>" *#
#* @vtlvariable name="templateUtils" type="com.example.Utils.TemplateUtils" *#
#* @vtlvariable name="cashDetailsObject" type="com.example.Objects.CashDetailsObject" *#
#* @vtlvariable name="cashDetailsHistory" type="java.util.ArrayList<com.example.Objects.CashDetailsObject>" *#


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>$pageName</title>
    #parse( "css.vm" )
    #parse( "scripts.vm" )
</head>

<body>

<div id="wrapper" style="padding-right: 135px">

    #parse( "main_navbar.vm" )

    <div id="page-wrapper">

        #parse("date_section.vm")

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <small>$pageName</small>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <h2>$templateUtils.getTranslation("Cash Details")</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>$templateUtils.getTranslation("Bill") </th>
                                <th>$templateUtils.getTranslation("Bills Amount") </th>
                                <th>$templateUtils.getTranslation("Bills Equity") </th>
                            </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>200</td>
                                    <td><input class="form-control cash-details" type="number" value="$cashDetailsObject.amount200" min="0" sum="200" id="cash-details-200"/></td>
                                    <td class="cash-equity" id="equity-200">$cashDetailsObject.calcSum200()</td>
                                </tr>
                                <tr>
                                    <td>100</td>
                                    <td><input class="form-control cash-details" type="number" value="$cashDetailsObject.amount100" min="0" sum="100"  id="cash-details-100"/></td>
                                    <td class="cash-equity" id="equity-100">$cashDetailsObject.calcSum100()</td>
                                </tr>
                                <tr>
                                    <td>50</td>
                                    <td><input class="form-control cash-details" type="number" value="$cashDetailsObject.amount50" min="0" sum="50" id="cash-details-50"/></td>
                                    <td class="cash-equity" id="equity-50">$cashDetailsObject.calcSum50()</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td><input class="form-control cash-details" type="number" value="$cashDetailsObject.amount20" min="0" sum="20" id="cash-details-20"/></td>
                                    <td class="cash-equity" id="equity-20">$cashDetailsObject.calcSum20()</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td><input class="form-control cash-details" type="number" value="$cashDetailsObject.amount10" min="0" sum="10" id="cash-details-10"/></td>
                                    <td class="cash-equity" id="equity-10">$cashDetailsObject.calcSum10()</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><input class="form-control cash-details" type="number" value="$cashDetailsObject.amount5" min="0" sum="5" id="cash-details-5"/></td>
                                    <td class="cash-equity" id="equity-5">$cashDetailsObject.calcSum5()</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><input class="form-control cash-details" type="number" value="$cashDetailsObject.amount1" min="0" sum="1" id="cash-details-1"/></td>
                                    <td class="cash-equity" id="equity-1">$cashDetailsObject.calcSum1()</td>
                                </tr>
                                <tr>
                                    <td>$templateUtils.getTranslation("Checks")</td>
                                    <td><input class="form-control cash-details" type="number" value="$cashDetailsObject.amountChecks" min="0" sum="-1" id="cash-details-checks"/></td>
                                    <td class="cash-equity" id="equity-check">$cashDetailsObject.calcChecks()</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="row">
                <div class="col-lg-12">

                </div>
            </div>


            <div class="row">

            </div>




        </div>
            <div class="row">
                <div class="col-lg-4">
                    <h2>$templateUtils.getTranslation("Cash Summary")</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <tbody>
                            <tr>
                                <td>$templateUtils.getTranslation("Sum By Cash")</td>
                                <td id="cash-sum">$templateUtils.round($cashDetailsObject.calcTotalSum(), 2)</td>
                            </tr>
                            <tr>
                                <td>$templateUtils.getTranslation("Sum By Calculations")</td>
                                <td id="daily-summary-sum">$templateUtils.round($dailySummaryEndAmount, 2)</td>
                            </tr>
                            <tr>
                                <td>$templateUtils.getTranslation("Sums Difference")</td>
                                <td id="difference">$templateUtils.round($cashDetailsObject.calcDiffernce($dailySummaryEndAmount), 2)</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-lg-2">
                <button type="button" class="btn btn-success save-button" id="saveCashDetails">$templateUtils.getTranslation("Save")</button>
            </div>
        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-lg-2">
                <button type="button" class="btn btn-info" id="showHideCashHistory">$templateUtils.getTranslation("Show History")</button>
            </div>
        </div>

        <div id="cashHistory" style="display: none">
            #foreach ($cashDetailsObject in $cashDetailsHistory)
                <div class="row">
                    <div class="col-lg-4">
                        <h2>$templateUtils.formatDateExcludeTime($cashDetailsObject.date)</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>$templateUtils.getTranslation("Bill") </th>
                                    <th>$templateUtils.getTranslation("Bills Amount") </th>
                                    <th>$templateUtils.getTranslation("Bills Equity") </th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>200</td>
                                    <td><input class="form-control" type="number" value="$cashDetailsObject.amount200" min="0" sum="200"/></td>
                                    <td>$cashDetailsObject.calcSum200()</td>
                                </tr>
                                <tr>
                                    <td>100</td>
                                    <td><input class="form-control" type="number" value="$cashDetailsObject.amount100" min="0" sum="100"/></td>
                                    <td>$cashDetailsObject.calcSum100()</td>
                                </tr>
                                <tr>
                                    <td>50</td>
                                    <td><input class="form-control" type="number" value="$cashDetailsObject.amount50" min="0" sum="50"/></td>
                                    <td>$cashDetailsObject.calcSum50()</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td><input class="form-control" type="number" value="$cashDetailsObject.amount20" min="0" sum="20"/></td>
                                    <td>$cashDetailsObject.calcSum20()</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td><input class="form-control" type="number" value="$cashDetailsObject.amount10" min="0" sum="10"/></td>
                                    <td>$cashDetailsObject.calcSum10()</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><input class="form-control" type="number" value="$cashDetailsObject.amount5" min="0" sum="5"/></td>
                                    <td>$cashDetailsObject.calcSum5()</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><input class="form-control" type="number" value="$cashDetailsObject.amount1" min="0" sum="1"/></td>
                                    <td>$cashDetailsObject.calcSum1()</td>
                                </tr>
                                <tr>
                                    <td>$templateUtils.getTranslation("Checks")</td>
                                    <td><input class="form-control" type="number" value="$cashDetailsObject.amountChecks" min="0" sum="1"/></td>
                                    <td>$cashDetailsObject.calcSum1()</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>


                    <div class="row">

                    </div>




                </div>

            #end
        </div>

    </div>

    <div id="addedCashSuccess" class="alert alert-info center-absolute center-screen"
         style="display: none;  width: 500px">
        <strong>$templateUtils.getTranslation("Success Saving Cash Details")</strong>
    </div>
    <div id="addedCashFailure" class="alert alert-danger center-absolute center-screen"
         style="display: none;  width: 200px">
        <strong>$templateUtils.getTranslation("Error Saving Cash Details")</strong>
    </div>


    <div style="display: none" id="changesSaved" saved="true"></div>
    #parse("unsaved_changes_message.vm")



</body>

</html>
