#* @vtlvariable name="hishgadPackages" type="java.util.ArrayList<com.example.Objects.HishgadPackageObject>" *#
#* @vtlvariable name="historyOrders" type="java.util.ArrayList<com.example.Objects.OrderObject>" *#
#* @vtlvariable name="clients" type="java.util.ArrayList<com.example.Objects.ClientObject>" *#
#* @vtlvariable name="templateUtils" type="com.example.Utils.TemplateUtils" *#
#* @vtlvariable name="analysisSalesObject" type="com.example.Objects.AnalysisSalesObject" *#
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>$pageName</title>
    #parse( "css.vm" )
    #parse( "scripts.vm" )
</head>

<body>

<div id="wrapper" style="padding-right: 135px">

    #parse( "main_navbar.vm" )

    <div id="page-wrapper">

        #parse("date_section.vm")

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <small>$pageName</small>
                    </h1>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div dir="ltr" id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

                </div>
            </div>



        </div>

    </div>

</div>
<div style="display: none" id="changesSaved" saved="true"></div>


</body>

<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'ניתוח מכירות'
            },
            tooltip: {
                pointFormat: '{series.name}: {point.percentage:.1f}%'
            },

            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: ' ',

                colorByPoint: true,
                data: [
                    {name: "צ'אנס", y: $analysisSalesObject.getChanceSales()},
                    {name: 'לוטו', y: $analysisSalesObject.getLottoSales()},
                    {name: 'אקסטרה', y: $analysisSalesObject.getExtraSales()},
                    {name: 'קינו', y: $analysisSalesObject.getSpecialSales()},
                    {name: '123', y: $analysisSalesObject.getOneTwoThreeSales()},
                    {name: '777', y: $analysisSalesObject.getSevenSales()},
                    {name: 'חישגד',y: $analysisSalesObject.getHishgadSales()}]
            }]
        });
    });
</script>



</html>
